.day {
  display: inline-block;
  /*hack for display block alignment*/
  vertical-align: top;
/*	width:160px;*/
  width: 18%;	
	padding-left: 1%;
	padding-right: 1%;
	/*hack for display-block white spaces*/
	margin-right: -4px;
	margin-left: -4px;
	text-align: center;
	/*color: white;*/
}

.day_head {
	border: 2px #E2E2E2 solid;
  margin-bottom: 5px;
/*	width: 160px;*/
}

.day_body {
/*	width: 160px;*/
	height: 310px;
}

.day_morning {
	margin-bottom: 5px;
/*	width: 160px;*/
	height: 150px;
	border: 2px #E2E2E2 solid;
}

.day_afternoon {
/*    width: 160px;*/
    height: 150px;
    border: 2px #E2E2E2 solid;
}


.vevent {
/*	border: thin solid grey;
	-webkit-border-radius: 2px 12px 2px 2px;*/
	margin: 3px 3px 3px 3px;
	height: 144px;
}

.vevent .summary{
	margin: 0 5px;
}

.vevent .description{
	font-size:1em;
	font-weight:normal;
}

.vevent .location {
	font-style: italic;
} 


/* === Tablet and Desktops === */

@media screen and (min-width: 480px) {
	.day{
		height:400px;
	}
}


.bg-color-blue {
	background-color: #2E9AFE;
}

.bg-color-green {
	background-color: #64FE2E;
}

.bg-color-pink {
	background-color: #FA58D0;
}

.bg-color-orange {
	background-color: #FFBF00;
}

.bg-color-yellow {
	background-color: #D7DF01;
}

.bg-color-gray {
	background-color: gray;
}
