.course {
    
    float : left;
    /*width : 70%;*/
    margin-top : 30px;
    margin-left : 5%;
    margin-right: 5%;
    
}

.box_row {
	overflow:hidden;
}



.classmates {
    /*width : 35%;*/
    /*height : 129px;*/
    float : left;
    border: 1px #239CD3 solid;
    border-radius: 10px;
    margin-left : 40px;
    box-shadow: 2px 2px 2px #C3C3C3;
    padding : 5px;
}

.eval{
    /*width : 35%;*/
    margin-left:10%;
    float : left;
    border: 1px #239CD3 solid;
    border-radius: 10px;
    margin-top : 30px;
    box-shadow: 2px 2px 2px #C3C3C3;
    padding : 5px;
    /*height : 129px;*/
}

.comment {
    width: 100%;
	max-width: 350px;
    border: 1px solid #239CD3;
    border-radius: 3px;
    font-family: Tahoma, sans-serif;
    resize : none;
    margin-top : 30px;

}

.comments {
    margin-top : 30px;
}

.commentaires{
    float : left;
    width : 60%;
    margin-left:9%; 
    margin-right:10%;
}


.course_descript {

    /*width : 35%;*/
    float : left;
    border: 1px #239CD3 solid;
    margin-left:10%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #C3C3C3;
    padding : 5px;

}


.proj {
    /*width : 35%;*/
    float : left;
    border: 1px #239CD3 solid;
    border-radius: 10px;
    margin-top : 30px;
    margin-left:40px;
    box-shadow: 2px 2px 2px #C3C3C3;
    padding : 5px;
    /*height : 129px;*/
}

.classmate_pict {

    height : 90px;
    width : 90px;
    float : left;
    border: 1px #239CD3 solid;
    margin-top: 5px;
}


p {
    margin-top : 30px;
    text-align : center;
}

.post {
    width : 100px;
    background : #239CD3;
    Font-style : italic;
    font-family: Tahoma, sans-serif;
    border-radius: 5px;
    margin-left : 46%;
}



.what {
    text-align : center;
    font-style: italic;
    font-size : 22px;
    color : #239CD3;
}

.course article {
	width:95%;
}

/* == Mobile == */
@media screen and (max-width: 1280px) {
	.course article {
		margin:0;
		margin-bottom:30px;
	}
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
	.course {
		width: 70%;
	}
	
	.comment {
		margin-left : 25%; 
		margin-right:75%;
	}
}

/* === Desktops === */
@media screen and (min-width: 1280px) {

	
	.course article {
		height : 129px;
		width : 35%;

	}
	

}
