.login_form {

    margin : 230px 0 200px 300px;
    
}

.logo_login {
    
    background : #239CD3;
    color : #239CD3;
    width: 300px;
    margin-left:110px;
    text-align:center;
    
}

.button {
    width: 305px;
    background: #CCCCCC;
}

.text {
    width:300px;
    background: #CCCCCC;
    font-style:italic;
}