.login_form {

    margin-top : 230px;
    margin-right: auto;
    margin-left : auto;
    margin-bottom:230px;
    width : 310px;
    //min-height :100%;
}

.logo_login {
    
    background : #239CD3;
    color : #239CD3;
    width: 300px;
    margin-left:110px;
    text-align:center;
    
}

.button {
    width: 305px;
    background: #CCCCCC;
}

.text {
    width:300px;
    background: #CCCCCC;
    font-style:italic;
}

html {
    height :100%;
}
body{
    height : 100%;
}