/* === Mobile CSS (Readme!!) === */
/* The mobile version of the website will be CSS3 entirely.
   This yields that in this stylesheet:
   the mobile style will appear first;
   the desktop style will be defined by the new media queries.
   If you want some style to be applied to desktop elements only, please use media queries! */

aside {
    float:none;
}


html{
    height:100%;
}
body {
    font-family: arial, tahoma;
    font-size: 11pt;
    /* luca didn't want the fixed width */ 
    //width: 978px;
    margin: 0 auto;
    color: #505050;
    padding: 10px 10px 10px 10px;
    height: 100%;

/*
  border: hidden;
  border-bottom-width: hidden;
  border-left-width: thin;
  border-right-width: thin;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #505050;
  */
}

.top_border {
    height: 22px;
    background: #363842;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    color: white;
}

.bottom_border {
    height: 30px;
    background: #363842;
    bottom: -34px;
}

.top_nav {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    /*width: 978px;*/
    background: #5D606E;
}

.top_nav a {
    color: white;
    text-decoration: none;
}

.top_nav li {
    margin: 0px;
    list-style: none;
    padding: 0px;
    float: left;
}

.top_nav li a {
    display: block;
    color: white;
    font-size: 16px;
    width: 189px;
    text-decoration: none;
    background: #5D606E;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 11px;
}

.top_nav li.home a {
    width:50px;
    background-image:url(images/home.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.top_nav li a:hover {
    background-color:#363842;
}

.top_nav a.active {
    background: #239CD3;
}

.top_menu_left {
    width: 80%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top_menu {
    float: left;
    width: 100%;
    position: relative;
    border-bottom-width: thin;
    border-bottom-style:solid;
    border-bottom-color: #C3C3C3;
    
}

.top_menu_right {
    float: right;
    width: 17%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search_bar {
    position: relative;
    float: right;
}

.main_content {
    float: left;
    width: 80%;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
    aside{
	float: right;
    }
    
    .schedule_container {
	margin-left: 18px;
    }
}
.page_aside {
	float: right;
	width: 17%;
	min-height : 100%;
	text-align: right;
	border-left-width: thin;
	border-left-style:solid;
	border-left-color: #C3C3C3;
	padding-left: 10px;
	padding-right: 20px;
}

.page_footer {
    position: relative;
    clear: both;
    bottom: -35px;
    font-size: 10pt;
    font-style: italic;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    color: white;
}

.page_header {
    position: relative;
    float: left;
    //width: 968px;
    width:100%;
    top: -43px;
}

.logo {
}

.user_status {
    float: right;
    margin-top: 45px;
    width: 190px;
    text-align: right;
    color: #239CD3;
    font-size: 10pt;
}

.headline {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    //float: right;
    margin-top: -34px;
    //width: 500px;
    color: #239CD3;
/*
  position: relative;
  bottom: 0;
  width: 950px;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  */
}

.popup {
    display:none;
    background: #64FE2E;
    padding: 10px; 	
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    border-radius:3px 3px 3px 3px;
	color: white;
}

img.btn_close { 
    float: right; 
    margin: -28px -28px 0 0;
}

#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #239CD3;
}

h3 {

    margin-top: 7px;
    margin-bottom: 7px;
    color: #239CD3;
    font-weight: bold;
}

li {
    /*list-style: none;*/
}

a {
    color: #505050;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.overlap {
    float: right;
    top: 20px;
    right: 5px;
    position: absolute;
    color: white;
}

.overlap a {
    color: white;
}

.page_aside_title {

    margin-top: 5px;
    margin-bottom: 5px;
    color: #239CD3;
    font-weight: bold;
}

.course_description {
    
    font-size: 13px;
    font-style: italic;
}


.my_course_content ul {
	list-style-image: url('../images/arrow_left.png');
}

.my_course_content {	
}
.my_course_content a{
	font-size: 16px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}

.my_course_content a:hover{
	text-decoration:underline;
}

.menu_button {
	display: table-cell;
	width: 150px;
	height: 50px;
	color: white;
	text-align: center;
	vertical-align: middle;
	background: #2E9AFE;
}

.event_window {
    
    padding : 5px;
}

.event_window:hover{
    text-decoration :underline;
    color : #239CD3;
}

.track_window{
    padding:5px;
}
.track_window:hover{
    text-decoration :underline;
    color : #239CD3;
}