/* === Mobile CSS (Readme!!) === */
/* The mobile version of the website will be CSS3 entirely.
   This yields that in this stylesheet:
   the mobile style will appear first;
   the desktop style will be defined by the new media queries.
   If you want some style to be applied to desktop elements only, please use media queries! */

aside {
    float:none;
}

/* === Mobile === */
@media screen and (max-width: 768px) {
	aside{
		clear:both;
	}
}

body {
    font-family: arial, tahoma;
    font-size: 11pt;
    /* luca didn't want the fixed width */ 
    /* padding: 10px 10px 10px 10px; */
    margin: 0 auto;
    color: #505050;
    height: 100%;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
	body{
		padding: 10px 70px 10px 70px;
	}
}

 	
.top_border {
    height: 22px;
    background: #363842;
    text-align: right;
    padding-right: 2%;
    padding-top: 0.5%;
    color: white;
}

.bottom_border {
    height: 30px;
    background: #363842;
    bottom: -34px;
}


.page_header {
    position: relative;
    float: left;
    width:100%;
    top: -43px;
}

.logo {
}

.user_status {
    /*float: right;*/
    margin-top: 85px;
    padding-right: 8px;
    color: #239CD3;
    font-size: 11pt;
  	border: 2px #E2E2E2 solid;
  	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px 1px #636363;
    -ms-box-shadow: inset 0 0 1px 1px ##636363;
    box-shadow: inset 0 0 1px 1px #636363;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
	.user_status {
		float: right;
	}
}

.user_status div {
   display: inline-block;
}

.user_status div div {
   display: block;
}

#user_img {
    width: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    vertical-align: top;
}

.user_status_text {
  padding-left: 4%;
}

#user_event_img {
  width: 33px;
  vertical-align: middle;
}

#user_msg_img {
  width: 28px;
  vertical-align: middle;
}

#user_div_sub {
  padding-top: 5px;
}

.headline {
    text-align:center;
    font-weight: bold;

    color: #239CD3;
}

.headline_news_title {
    font-size: 2em;
}

.headline_news_body {
    padding-top: 1%;
    font-size: 1.8em;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
	.headline {
		margin-top: -34px;
		padding-left: 15%;
	}
}

.overlap {
    float: right;
    top: 20px;
    right: 5px;
    position: absolute;
    color: white;
}

.overlap a {
    color: white;
}

/*MY SCHEDULE IN THE MAIN CONTENT*/
h4 {
    color: #239CD3;
}


a {
    color: #505050;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.top_nav {
    float: left;
    list-style: none;
    margin: 0px 0px 0px 0px;
    width: 96%;
    padding: 5px 5px 5px 5px;
    background-color: #5D606E;
}

.top_nav a {
    color: white;
    text-decoration: none;
}

.top_nav a:hover {
    text-decoration: underline;
}

.setup_nav{
    visibility: hidden; 
}

.arrow_img_nav {
  height: 15px;
  vertical-align: middle;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.top_menu {
    float: left;
    width: 100%;
    position: relative;
    border-bottom-width: thin;
    border-bottom-style:solid;
    border-bottom-color: #C3C3C3;
    padding-top: 1%;
    padding-bottom: 1%;
}

.top_menu_button {
  float: left;
  position: relative;
  width: 15%;
  margin: 0.2%;
  padding: 0.5% 0;
	border: 2px #E2E2E2 solid;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
}

.webint_head {
  margin: 0.2%;
  padding: 0.5% 0;
	border: 2px #E2E2E2 solid;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  background-color: #00CC00;
  -webkit-box-shadow: inset 0 0 1px 1px #236F23;
  -ms-box-shadow: inset 0 0 1px 1px #236F23;
  box-shadow: inset 0 0 1px 1px #236F23; /*#488FD2 #3D78AE*/
}

.webint_head {
 color: white;
}

/*
.event_window:hover{
    color : #239CD3;
}
*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#export {
  cursor: move;
}

#export:hover {
  text-decoration: none;
}

.top_menu_button_color_blue {
  background-color: #2E9AFE;
  -webkit-box-shadow: inset 0 0 1px 1px #25425E;
  -ms-box-shadow: inset 0 0 1px 1px #25425E;
  box-shadow: inset 0 0 1px 1px #25425E; /*#488FD2 #3D78AE*/
}

.top_menu_button_color_blue a {
 color: white;
}

.top_menu_button_color_red {
  background-color: #EE2C25;
  -webkit-box-shadow: inset 0 0 1px 1px #9E231E;
  -ms-box-shadow: inset 0 0 1px 1px #9E231E;
  box-shadow: inset 0 0 1px 1px #9E231E; /*#488FD2 #3D78AE*/
}

.top_menu_button_color_red a {
 color: white;
}

.search_bar {
    display: inline-block;
    max-width: 30%;
    padding: 0.5% 0;
}

.search_bar input {
  font-size: 1.2em;
}


.my_track {
  float: right;
  position: relative;
  width: 20%;
}

.menu_button {
	display: table-cell;
	width: 150px;
	height: 22px;
	color: white;
	text-align: center;
	vertical-align: middle;
	background: #2E9AFE;
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

.main_content {
    float: left;
    width: 100%; /*For mobile.*/
}

.evaluation h1 {
  font-weight: bold;
  color: #239CD3;
  font-size: 2em;
}

.evaluation h2 {
  font-weight: bold;
  color: #505050;
  font-size: 1.5em;
}

.evaluation h3 {
  color: #505050;
  font-size: 1.2em;
  display: inline-block;
}

#score_form {
  color: #505050;
  font-size: 1.1em;
}

#grade_form {
  color: #505050;
  font-size: 1.1em;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
    aside {
		float: right;
    }
	
	.page_aside{
		padding-top:0;
		width: 17%;
    }
	
.main_content {
		width: 80%;
		}
    /*.schedule_container {
	margin-left: 18px;
    }*/
}

.page_aside {

	min-height : 100%;

	/*float: right; Again, no. This is only for desktops. See above.
	width: 17%; idem.*/

	border-left-width: thin;
	border-left-style:solid;
	border-left-color: #C3C3C3;
	padding-left: 1%;
	padding-top:1px;
	text-align: center;
}

.page_aside_title {
    margin-bottom: 3%;
    color: #239CD3;
    font-weight: bold;
}

.page_aside article {
    margin: 10% 0;
}

#prof_photo {
  height: 200px;
}

.course_description {    
    font-size: 13px;
    font-style: italic;
}

.my_course_content a{
	font-size: 16px;
	text-decoration: none;
	width: 200px;
	height: 30px;
	color: white;
	display:table-cell;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.my_course_content a:hover{
	text-decoration:underline;
	/*background-color: #5D606E; bleah! =) */
}

.statistics {
  color: #505050;
  font-size: 1.1em;
}

.statistics div {
  display: inline-block;
}

.stat_label {
  width: 68%;
  /*padding-left: 12%;*/
  text-align: left;
}

/* === Tablet and Desktops === */
@media screen and (min-width: 768px) {
	.stat_label {
		padding-left: 12%;
	}
}

.stat_val {
  font-weight: bold;
  width: 20%;
  text-align: right;;

}

.RSS_content {
	font-size: 0.9em;
	text-align: left;
}


.RSS_content ul {
  list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.RSS_content ul li {
	  border-bottom-width: thin;
    border-bottom-style:solid;
    border-bottom-color: #C3C3C3;
    padding: 7px 0;
    float: left;
    width: 100%;
}

.RSS_content ul li img {
	  width: 30px;
	  float: left;
	  vertical-align: middle;
	  padding-right: 7px;
}

.page_footer {
    position: relative;
    clear: both;
    bottom: -35px;
    font-size: 10pt;
    font-style: italic;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    color: white;
}



/*POPUP PART*/
.popup {
    display:none;
/*    background: #58ACFA; */
	background: #9BADC4;
    padding: 10px; 	
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    border-radius:5px 5px 5px 5px;
	color: white;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
	
}

.popup label {
	float: left;
	clear: left;
	margin: 11px 20px 0 0; 
	text-align: right;
	color: #445668; 
	text-shadow: 0px 1px 0px #f2f2f2;
}

.popup input {
	height: 25px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
}

.popup input::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
}
.popup input:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
}

.popup textarea {
	width: 260px; height: 170px; padding: 12px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
}

.popup textarea::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
}
.popup textarea:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
}
	
.popup input:focus, textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

.popup input[type=submit] {
	width: 185px;
	height: 52px;
	float: right;
	padding: 10px 15px;
	margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}

img.btn_close { 
    float: right; 
    margin: -28px -28px 0 0;
}

#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}
