body {
	font-family: arial, tahoma;
	font-size: 11pt;
	width: 960px;
	margin: 0 auto;
	border-top-style: hidden;
	border-bottom-width: hidden;
	border-left-width: thin;
	border-right-width: thin;
    border-left-style:solid;
	border-right-style: solid;
    border-color:#ff9900;
}

.top_nav {
	margin: 10px 10px 10px 10px;
}

.top_menu_left {
	width: 740px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.top_menu {
	margin: 10px 10px 10px 10px;
}

.top_menu_right {
	float: right;
	width: 190px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
}

.search_bar {
	position: relative;
	float: right;
}

.main_content {
    float: left;
    width: 740px;
    margin: 10px 10px 10px 10px;
}

.page_aside {
	float: right;
	width: 185px;
	text-align: right;
	margin: 10px 10px 10px 0px;
	border-left-width: thin;
    border-left-style:solid;
    border-left-color:#ff9900;
}

.page_footer {
	position: relative;
	clear: both;
	bottom: -30px;
	font-size: 10pt;
	font-style: italic;
	width: 950px;
	height: 30px;
	text-align: center;
}

.page_header {
	min-height: 100px;
	margin: 10px 10px 10px 10px;
}

.logo {
	float: left;
	width: 750px;
}

.user_status {
	float: right;
	width: 190px;
	text-align: right;
}

.headline {
	position: relative;
	bottom: 0;
	width: 950px;
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
}

.popup {
	display:none;
	background: #C0C0C0;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	border-radius:3px 3px 3px 3px;
}

img.btn_close { 
	float: right; 
	margin: -28px -28px 0 0;
}

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}
